body{
    text-align: center;
    background-image: url("https://t3.ftcdn.net/jpg/06/01/09/42/360_F_601094258_fIlXtFEnrm2Y8Rz9BPA6RjPgA6vhy2eX.jpg");
cursor: url("https://img.icons8.com/?size=100&id=4OBBWR7yQTRw&format=png&color=000000") 16, 16, auto;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1,h2,h3,h4,ol,table,p{
    background-color:cadetblue;
}
img{
    width: 200px;
}

h4,ol,table{
    text-align:left;
padding-left: 300px;

line-height: 1.5;
}

table{
    box-shadow: -5px 5px 6px rgb(41, 88, 230);
}


img.BeamNG{
    width: 400px;
}

img.Tennis{

    width: 75px;
}

img.car{

    width: 400px
}

img.Cars{
    text-align: left;
    width: 250px;
}

ol{
    background-color: coral;
}

table{
    background-color: goldenrod;
}